/* framing the structure */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.structure{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*Add the fading affect for body content to create smooth transition*/
.content {
  display: none;
  animation-delay: 4s;
  animation: fadein 4s;
  transition: opacity 2s ease-in;
}

/* animation keyframes for the fadein effect */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* General */

body{
  background-color: rgb(19, 17, 17);
}

/* introduction structure */

#home1 {
  margin-top: 350px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color:rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
  text-align: center;
}

#name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
  font-size: 10vw;
  text-transform: uppercase;
  font-weight: 400;
}

#location, #title{
  font-weight: 300;
  margin: 5px;
  font-size: 35px;
}
/* navbar */

#menu {
  position: sticky;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
}

li{
  display: inline;
  width: 150px;
  opacity: 1;
  padding: 5px;
  justify-content: center;
}

li a{
  display: inline-block;
  text-decoration: none;
  color: rgb(182, 225, 255);
  text-transform: uppercase;
  transition: 0.75s;
}

li a:hover{
  color: rgb(249, 246, 246);
  transform: translateY(10px);
  transition: 1s;
}

/* sticky name to navbar */

/* bio */
#bio{
  background-color: inherit;
  color: white;
  font-size: 50px;
}


/* skill page */
#skill-table{
  background-color: inherit;
  color: white;
}

.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px; 
  background: rgb(97, 95, 95);
  border-radius: 3px;
}

.skill-percent{
  height: 14px;
  color: black;
  background: rgb(182, 225, 255);
  border-radius: 3px; 
  position: relative;
  animation: fillBars  3.5s;
}

.skill-percent::before{
  content: attr(percent);
  position: absolute;
  padding: 4px 6px;
  background: white;
  border-radius: 4px;
  font-size: 12px; 
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-percent::after{
  position: absolute;
  width: 10px;
  height: 10px;
  background: white; 
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}

#skill1{
  max-width: 30%;
}

#skill2{
  max-width: 40%;
}

#skill3{
  max-width: 50%;
}

#skill4{
  max-width: 20%;
}