/* framing the structure */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important; 
}

.container1 {
  width: 100%;
  height: 8px;
  background: inherit;
  z-index: 1000;
  position: sticky;
  top: 0;
}

.bar {
  height: 8px;
  background: white;
  width: 0%;
  z-index: 1000;
  position: sticky;
  top: 0;
}

.structure{
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/*Add the fading affect for body content to create smooth transition*/
.content {
  display: none;
  animation-delay: 4s;
  animation: fadein 4s;
  transition: opacity 2s ease-in;
}

/* animation keyframes for the fadein effect */

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* General */

body{
  background-color: rgb(19, 17, 17);
}

/* images testing  */

#stars{
  z-index: 0;
  object-fit: cover;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
}



/* introduction structure */

#home1 {
  margin-top: 80px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
  color:rgb(197, 197, 197);
  display: flex;
  flex-direction: column;
}

#name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 10px;
  font-size: 120px;
  font-weight: 400;
  z-index: 10;
}

#first{
  font-size: 120px;
  font-weight: 300;
}

#title{
  font-weight: 300;
  margin: 5px;
  font-size: 35px;
}

#resume{
  color: white;
  font-size: 40px;
  padding: 5px 25px;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 10px;
}
/*
#resume-wrapper{
  text-align: center;
}
*/

#resume:hover{
  background-color: white;
  color: black;
}
/* navbar */

#menu {
  position: sticky;
  top: 0;
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  z-index: 1000;
}

.list1{
  display: inline;
  width: 150px;
  opacity: 1;
  padding: 5px;
  justify-content: center;
}

.list1 a{
  display: inline-block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.75s;
  padding: 10px;
}

.list1 a:hover{
  color: white;
  transform: translateY(10px);
  transition: 1s;
}

/* sticky name to navbar */

/* bio */
#bio{
  background-color: inherit;
  color: white;
  font-size: 40px;
  margin-top: 100px;
  margin-bottom: 100px;
}

#aa{
text-decoration: none;
color: white;
}

#image-b{
  border: 2px solid white;
}
/* gradient */
#bar{
  min-height: 40vh;
  overflow-x: hidden;
  background: linear-gradient(transparent, rgb(19, 17, 17), rgb(182, 225, 255));
}


/* Skills */

#skill-table{
  font-size: 60px;
  background-color: rgb(182, 225, 255);
  color: white;
}

.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  border: 2px solid black;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: black;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px; 
  background: rgb(97, 95, 95);
  border-radius: 3px;
}

.skill-percent{
  height: 14px;
  color: black;
  background: rgb(182, 225, 255);
  border-radius: 3px; 
  position: relative;
  animation: fillBars  6.5s;
}

.skill-percent::before{
  content: attr(percent);
  position: absolute;
  padding: 4px 6px;
  background: rgb(182, 225, 255);
  border-radius: 4px;
  font-size: 20px; 
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-percent::after{
  position: absolute;
  width: 10px;
  height: 10px;
  background: rgb(182, 225, 255); 
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}

#skill1{
  max-width: 40%;
}

#skill2{
  max-width: 50%;
}

#skill3{
  max-width: 50%;
}

#skill4{
  max-width: 60%;
}



/* Software Skills */
.skill-list{
  font-size: 40px;
  list-style-type: none;
  color: black;
  text-decoration: none;
  padding: 30px;
}

/* Skill Page Grid Design*/
#skill-table{
  width: auto;
  height: auto;
  display: grid;
  grid-template-areas:
  "heading heading"
  "space1 space2";

  column-gap: 5px;
  row-gap: 10px;
}

#skill-header{
  grid-area: heading;
  color: black;
  font-weight: 300;
  font-size: 50px;
  text-align: center;
}

.item-1{
  grid-area: space1;
  margin: 50px;
  background-color: white;
}

.item-2{
  grid-area: space2;
  margin: 50px;
  background-color: white;
  border: 2px solid black;
}

.item{
  height: 500px;
  width: 500px;
}

.title-skill{
  color:black;
  font-weight: 400;
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

/* contact form */

.container{
  border: 2px solid white;
  padding: 10px;
}
#contactme1{
  font-size: 40px;
  color: white;
  border-radius: 8px;
  text-align: center;
  font-weight: 300;
}

#p1{
  font-size: 20px;
  color: white;
  text-align: center;
}
#note{
  min-height: 100px;
  min-width: 100%;
}

input[type=text], textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid grey;
  box-sizing: border-box;
  color: black;
  border-radius: 8px;
}

#button-wrapper{
  text-align: center;
}
#submit-button{
  background-color: grey;
  color: black;
  font-family: inherit;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 20px;
}

#submit-button:hover{
  color: black;
  background: white;
  cursor: pointer;
}

label{
  color: white;
  font-size: 20px;
  font-family: inherit;
}


/*sitemap*/
#sitemap{
  color: white;
}
.list2 a{
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.list2{
  list-style-type: none;
  padding: 20px;
}

.list2 a:hover{
  text-decoration: underline;
}